includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - bin
        - tests
    excludePaths:
        - vendor
    bootstrapFiles:
        - vendor/autoload.php
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
